
// Fonts
@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans:300");

// Variables
@import 'variables';
@import 'utilities/gradient';

// Bootstrap
@import '~font-awesome/scss/font-awesome';
@import '~bootstrap/scss/bootstrap';
@import "~vue-snotify/styles/material";

label {
  font-weight: bold;
  text-transform: uppercase;
}

main {
  padding: 1rem;
}

section {
  padding: 1rem;
}

.btn {
  font-family: $headings-font-family;
  font-size: 1rem;
  letter-spacing: 1px;
}

.btn-dark {
  color: white !important;
}

.btn-outline-primary {
  color: $blue !important;
}

.card__p {
  font-size: 1rem;
}

.dropdown-item {
  line-height: $line-height-base;
}

.fa {
  line-height: inherit;
}

.form-group label {
  padding-left: 0.75rem;
}

.full-height {
  min-height: calc(100vh - 5rem);
}

.gradient-border--one {
  @include gradient-border($border-width, mediumblue, fuchsia);
}

.gradient-border--two {
  @include gradient-border($border-width, mediumblue, cyan);
}

.gradient-background--one {
  @include gradient-background(mediumblue, fuchsia);
}

.gradient-background--two {
  @include gradient-background(mediumblue, cyan);
}

.legal {
  font-size: 0.8rem;
  line-height: 1.2;
  margin-top: 2rem;
  text-align: justify;
}

.shadow--one {
  box-shadow: 4px 4px 1rem 0 rgba(0,0,0,0.5), 0 0 0.5rem 0 rgba(0,0,0,0.25);
}

.snotify {
  width: 100%;

  &-rightBottom {
    bottom: 0;
    right: 0;
  }
}

@include media-breakpoint-up(sm) {
  main {
    padding: 3%;
  }

  section {
    padding: 3%;
  }

  .shadow--two {
    box-shadow: 1rem 1rem 3rem rgba(0,0,0,0.5), 0 0 0.5rem 0 rgba(0,0,0,0.5);
  }
}

@import "layout/footer";
@import "layout/header";
@import "layout/sidebar";

@import "sections/home";
@import "sections/company";
@import "sections/services";
@import "sections/portfolio";
@import "sections/contact";

@import "sections/auth";
@import "sections/account";
